openai
azure-storage-blob
PyPDF2
python-dotenv
sentence-transformers
faiss-cpu
numpy
rank-bm25
langchain
langchain-community
langchain-openai
google-cloud-speech
google-cloud-texttospeech
sounddevice
soundfile
pandas
azure-search-documents==11.4.0
plotly==5.24.0